.App {
  text-align: center;
}

.smallnavbar{
  background-color: rgb(131, 145, 139);
  height: 3.8rem;
}

.subtext{
  text-transform: lowercase;
  font-weight: bolder;
  font-size: larger;
}

.infoSpace{
  padding-top: 1rem;
}

.infotext{
  color: beige;
}

.lineIcon{
  margin-left: 8px;
  margin-right: 8px;
}